/* Estilos generales */
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: rgb(6, 7, 15);
  }

  body.fondoindex {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-image: url("img/fondorayas.jpg");
    background-repeat: no-repeat;
    background-color: #151823;
    margin: 0;
    min-height: 100vh;
    background-size: cover; /* Cambiar a "cover" */
  }
  

/* Estilos para el encabezado */
header {
  color: #fd6262;
  padding: 20px;
  background: rgb(15, 15, 15);
}


.header_top {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header h1 {
  font-size: 60px;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  transition: all 0.6s ease; /* Efecto de transición */
  margin: 0;
}

header h1:hover {
  font-size: 70px;
  color: #c20f0f; /* Cambia a color rosado cuando pasas el cursor */
}

nav ul {
  list-style: none;
  margin: 5px;
  display: flex;
}

nav ul li {
  margin: 0px 5px;
}

.redcolor {
  color: white;
  transition: color 0.6s; /* Efecto de transición */
}

.redcolor:hover {
  color: #fd6262;
}

.whitecolor {
  color: white;
}

nav ul li a {
  display: block;
  padding: 13px 20px 3px 20px;
  text-decoration: none;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 20px;
  color: white; /* Establecemos el color inicial para todos los enlaces */
}

.login {
  color: #fd6262;
  transition: color 0.6s; /* Efecto de transición */
}

.login:hover {
  color: #b90b0b; /* Cambia el color a verde cuando pasas el cursor */
}

.register {
  border: 1px solid white;
  border-radius: 5px;
  color: white;
  padding: 16px 18px;
  transition: background-color 0.6s, color 0.6s, border 0.6s ; /* Efecto de transición */
}

.register:hover {
  border: 1px solid #2165ca;
  background-color: #2165ca; /* Cambia el color de fondo a celeste cuando pasas el cursor */
  color: black; /* Cambia el color de la letra a negro cuando pasas el cursor */
}

/* Estilos para el contenedor del nombre de usuario */
.user_info {
  margin: 0px 10px;
  font-size: 25px;
  font-weight: bold;
  color: #fff;
  padding: 20px 20px;
  border: 2px solid #60167d;
  border-radius: 30px; /* Hacemos un borde más redondeado */
  background-color: #60167d; /* Color de fondo */
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none; /* Quitamos la decoración de enlace */
}

.user_info:hover {
  background-color: #410070; /* Cambia el color de fondo cuando pasas el cursor */
}


.contraste{
  color: rgb(224, 224, 224);
}

/* Estilos para las secciones */
section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 50px;
  }  

  /* Estilos para el contenido de cada sección */
  .content {
    flex: 1;
    max-width: 50%;
    padding: 20px;
    border-radius: 80px 5%;
    background: rgba(255, 255, 255, 0.16);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    margin: 20px;
  }


  
  /*Esto es para el html del BOT*/
  .secciones {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 50px;
  }  
  .contentes {
    flex: 1;
    max-width: 50%;
    padding: 20px;
    border-radius: 80px 5%;
    background: rgba(255, 255, 255, 0.16);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    margin: 20px;
    justify-content: center;
    text-align: center;
  }

  
  
  /* Estilos para las imágenes de cada sección */
  .image {
    flex: 1;
    max-width: 50%;
    position: relative;
    overflow: hidden; /* Para recortar el degradado que se sale del contenedor */
  }
  
  .image::before {
    content: "";
    position: absolute;
    top: 0;
    left: 80px;
    width: 90%;
    height: 100%;
    border-radius: 400px;
    background: radial-gradient(ellipse at center, rgba(255, 0, 0, 0.8), transparent), black;
    opacity: 0.4; /* Ajusta la opacidad del degradado */
    z-index: -1;
  }
  
  img {
    margin: 0px 0px 0px 210px;
    max-width: 60%;
    border-radius: 10%;
    width: 600px;
    height: 300px;
  }
  
  
  /* Estilos adicionales para mejorar la apariencia */
  h2 {
    color: #ffffff; /* Color del título */
    font-size: 30px;
    background-color: #850128;
    border-radius: 25px;
    margin: 50px;
    text-align: center;
    padding: 10px;
  }

  p {
    font-size: 20px;
    line-height: 1.6;
    color: rgb(231, 231, 231);
  }
  


.boton {
  padding: 15px 60px; /* Aumentar el espacio interno de los botones */
  font-size: 20px; /* Aumentar el tamaño de la fuente en los botones */
  font-weight: bold;
  color: #ff0000;
  background-color: #e7e7e7;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.Formulario {
  max-width: 400px;
  margin: 0 auto;
  padding: 50px;
  background-color: #f0f0f0;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 20px;
  /* Aumentar el alto del formulario */
  padding: 50px 50px 80px;
}

.Formulario h3 {
  text-align: center;
  margin-bottom: 20px;
  color: #151823;
}

.Formulario label {
  display: block;
  margin-bottom: 5px;
  
}

.Formulario input {
  width: 100%;
  padding: 12px; /* Aumentar el espacio interno de las entradas de texto */
  font-size: 16px; /* Aumentar el tamaño de la fuente en las entradas de texto */
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 3px;
}

.Formulario button {
  width: 48%;
}

.Formulario .botones {
  display: flex;
  justify-content: space-between;
  margin-top: auto;
}

.Formulario button.confirmar {
  background-color: #07b41b;
  color: #000000;
}

.Formulario button.confirmar:hover {
  background-color: #00f11c;
}

.Formulario button.cancelar {
  color: #000000;
  background-color: #960000;
}

.Formulario button:hover {
  background-color: #dd1515;
  color: #ffffff;
}




h4 {
  font-size: 40px;
  color: #eff0f5;
}






/* Estilo para el pie de página */
i {
  font-size: 2.4rem;
}

.footer {
  padding-block: 5rem;
  background-color: #151823;
  color: #666873;
}

.footer_container {
  max-width: 116rem;
  margin: auto;
  padding: 0 1.5rem;
}

.footer_top {
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
  justify-content: space-between;
}

.footer_title {
  font-size: 1.8rem;
  color: #fff;
  font-weight: 500;
  margin-bottom: 2rem;
  margin: 20px;
}



.footer_list-item {
  list-style: none;
}

.footer_list-link {
  text-decoration: none;
  color: inherit;
  transition: color .25s;
}

.footer_list-link:hover {
  color: #fff;
}

.company_info {
  flex-basis: 100%;
  max-width: 400px;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  padding-right: 5rem;
}

.company_logo {
  color: #fff;
  margin: 20px;
  font-size: 30px;
}

.company_info ul {
  flex-direction: row;
}

.company_info_description {
  color: #666873;
  margin: 20px;
}

@media screen and (min-width: 40em) {
  .company_info {
    flex-basis: calc(33.33% - 2rem);
  }
}